<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p><strong>{{ category }}:</strong> {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post">
        <div>
            <label for="userName">Username</label>
            <input type="text" id="userName" name="userName">
        </div>

        <div>
            <label for="passWord">Password</label>
            <input type="password" id="passWord" name="passWord">
            <button type="button" onclick="togglePassword()">Show/Hide Password</button>
        </div>

        <button type="submit">Login</button>
    </form>

    <p>
        <a href="{{ url_for('home') }}">
            <button type="button">Return to Home</button>
        </a>
    </p>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("passWord");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</body>
</html>
